aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
black==23.3.0
blinker==1.6.2
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cssselect==1.2.0
dataclasses-json==0.5.7
deprecation==2.0.7
distlib==0.3.6
docopt==0.6.2
elasticsearch==5.5.3
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.2
Flask==2.3.1
frozenlist==1.3.3
-e git+https://github.com/AntonOsika/gpt-engineer.git@31853a6d2325b8b2ae4af527128343d0c56ba75b#egg=gpt_engineer
identify==2.5.24
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.3.1
lxml==4.9.3
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
monotonic==1.6
multidict==6.0.4
mypy==1.3.0
mypy-extensions==1.0.0
newspaper3k==0.2.8
nltk==3.8.1
nodeenv==1.8.0
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.8
packaging==23.1
pandas==2.0.1
pathspec==0.11.1
Pillow==10.0.0
pipreqs==0.4.13
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==3.3.3
pycryptodome==3.17
pytest==7.3.1
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
rudder-sdk-python==2.0.2
ruff==0.0.272
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.4.1
termcolor==2.3.0
textblob==0.17.1
tinysegmenter==0.3
tldextract==3.4.4
tqdm==4.65.0
tweepy==4.14.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.0
tzdata==2023.3
tzlocal==4.3
ujson==5.7.0
upgrade-pip==0.1.4
urllib3==1.26.15
vaderSentiment==3.3.2
virtualenv==20.23.1
websockets==11.0.2
Werkzeug==2.3.0
yarg==0.1.9
yarl==1.9.2
